pl.mrasoft.mridl.tests/resources/MridlBasicComplexTypeTest/expected/hello/HelloComplexTypeElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="unqualified" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:tns="http://mrasoft.pl/mridl/examples"
		   targetNamespace="http://mrasoft.pl/mridl/examples">
	<xs:complexType name="TestComplexType1">
		<xs:sequence>
			<xs:element name="aaa" type="xs:string"/>
			<xs:element name="bbb" type="tns:TestComplexType2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TestComplexType2">
		<xs:sequence>
			<xs:element name="aaa" type="xs:string"/>
			<xs:element name="bbb" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
