pl.mrasoft.mridl.tests/resources/MridlDocumentationTest/expected/d1/FaultDocumentation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="unqualified" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:tns="http://mrasoft.pl/mridl/examples/d1/FaultDocumentation"
		   targetNamespace="http://mrasoft.pl/mridl/examples/d1/FaultDocumentation">
	<xs:element name="op1" type="tns:op1"/>
	<xs:element name="TestFault2" type="tns:TestFault"/>
	<xs:complexType name="op1">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TestFault">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
