pl.mrasoft.mridl.tests/resources/MridlFaultTest/expected/d1/SameFaultInManyOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="SameFaultInManyOperations"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://mrasoft.pl/mridl/examples/d1/SameFaultInManyOperations"
                  targetNamespace="http://mrasoft.pl/mridl/examples/d1/SameFaultInManyOperations">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://mrasoft.pl/mridl/examples/d1/SameFaultInManyOperations" schemaLocation="SameFaultInManyOperations.xsd"/>
        </schema>
    </wsdl:types>
	<wsdl:message name="op1">
		<wsdl:part element="tns:op1" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="op1Response">
		<wsdl:part element="tns:op1Response" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="op2">
		<wsdl:part element="tns:op2" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="op2Response">
		<wsdl:part element="tns:op2Response" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="TestFaultException">
		<wsdl:part name="TestFaultException" element="tns:TestFault"/>
	</wsdl:message>
	<wsdl:portType name="SameFaultInManyOperations">
		<wsdl:operation name="op1">
			<wsdl:input message="tns:op1" name="op1"/>
			<wsdl:output message="tns:op1Response" name="op1Response"/>
			<wsdl:fault name="TestFaultException" message="tns:TestFaultException"/>
		</wsdl:operation>
		<wsdl:operation name="op2">
			<wsdl:input message="tns:op2" name="op2"/>
			<wsdl:output message="tns:op2Response" name="op2Response"/>
			<wsdl:fault name="TestFaultException" message="tns:TestFaultException"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
