pl.mrasoft.mridl.tests/resources/MridlSimpleOperationTest/expected/hello/HelloParameterLess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="unqualified" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		         xmlns:tns="http://mrasoft.pl/mridl/examples"
		         targetNamespace="http://mrasoft.pl/mridl/examples"
		         >
	<xs:element name="sayHello" type="tns:sayHello"/>
	<xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
	<xs:complexType name="sayHello">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sayHelloResponse">
		<xs:sequence>
			<xs:element name="greetings" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
